__pycache__/
.ipynb_checkpoints/

# Editor files
.idea
.idea/*
*~
.project
.pydevproject
.settings/*
.DS_Store

# Windows temp files
Thumbs.db

# data files
rtvslo_test.json.gz
rtvslo_train.json.gz
rtvslo_test.json
rtvslo_train.json